<launch>
  <node pkg="rbx_vision" name="face_detector" type="face_detector.py" output="screen">

    <remap from="input_rgb_image" to="/camera/rgb/image_color" />

    <param name="flip_image" value="False" />      

  	<param name="cascade_frontal_alt" value="$(find rbx_vision)/data/haar_detectors/haarcascade_frontalface_alt.xml" />
   	<param name="cascade_frontal_alt2" value="$(find rbx_vision)/data/haar_detectors/haarcascade_frontalface_alt2.xml" />
  	<param name="cascade_profile" value="$(find rbx_vision)/data/haar_detectors/haarcascade_profileface.xml" />

  </node>
</launch>
