<launch>
  <!-- Load the URDF/Xacro model of our robot -->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find pi_robot_description)/urdf/pi_robot.xacro'" />

  <param name="robot_description" command="$(arg urdf_file)" />
    
  <node name="arbotix" pkg="arbotix_python" type="driver.py" output="screen">
      <rosparam file="$(find rbx1_bringup)/config/fake_pi_arbotix.yaml" command="load" />
      <param name="sim" value="true"/>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
  </node>
  
  <!-- Provide simulated control of the robot joint angles -->
  <!--
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
     <param name="use_gui" value="False" />
     <param name="rate" value="20.0"/>
  </node>
  -->
    
  <!--
  <node name="pi_robot_arm_down" pkg="rbx1_bringup" type="pi_robot_arm_down">
     <param name="rate" value="5.0"/>
  </node>
  -->

  <!--
  <node name="gripper_controller" pkg="arbotix_controllers" type="one_side_gripper_controller.py">
      <param name="invert" value="true"/>
      <param name="pad_width" value="0.0254"/>
  </node>
  -->
  
</launch>
