<launch>

  <param name="/use_sim_time" value="false" />

  <param name="turtlebot_node/gyro_scale_correction" value="1.42"/>
  <param name="turtlebot_node/odom_angular_scale_correction" value="0.96073"/>
  <param name="turtlebot_node/odom_linear_scale_correction" value="0.99319"/>

  <include file="$(find rbx1_bringup)/launch/turtlebot_minimal.launch" />

</launch>
