<launch>
  <!-- Kinect -->
  <node pkg="nodelet" type="nodelet" name="openni_manager" output="screen" respawn="true" args="manager"/>

  <node pkg="nodelet" type="nodelet" name="openni_launch" args="load openni_camera/OpenNINodelet openni_manager" respawn="true">
    <param name="rgb_frame_id" value="camera_rgb_optical_frame" />
    <param name="depth_frame_id" value="camera_depth_optical_frame" />
    <param name="depth_registration" value="true" />
    <param name="image_mode" value="5" />
    <param name="depth_mode" value="5" />
    <param name="debayering" value="2" />
    <param name="depth_time_offset" value="-0.055" />
    <param name="image_time_offset" value="0" />

    <rosparam command="load" />
  </node>
  <include file="$(find openni_launch)/launch/kinect_frames.launch"/>
</launch>

